//- index.pug
extends ../layout
block content
    include ../includes/content.html
    script
        include ../../src-bundle/jsbundle.min.js
    script.

        window.onload = function () {
            function startGame() {
                document.removeEventListener('visibility-visible', startGame);
                this.start();
            }

            if (document.getElementById('game').classList.contains('visible')) {
                startGame();
            } else {
                document.addEventListener('visibility-visible', startGame);
            }
        };
