.loading-screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #08222c;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 7vw;
    font-weight: bold;

    .landscape & {
        font-size: 7vh;
    }

    .loading & {
        pointer-events: auto;
        opacity: 1;
    }

    .progress-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .progress-title {
        margin-bottom: 2vw;

        .landscape & {
            margin-bottom: 2vh;
        }
    }
}